<!doctype html>

<title>Queries for {{source_id}}</title>
<h1>Queries for {{source_id}}</h1>

{% if queries %}
<table>
    {% for query in queries %}
    <tr>
        <th>{{query.id}}</th>
        <td>{{query.fields|join(", ")}}</td>
        <td>
            <a href="/{{source_id}}/accept/{{query.id}}">Accept</a>
            <a href="/{{source_id}}/reject/{{query.id}}">Reject</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<i>No signed queries ready yet. You may reload when you want.</i>
{% endif %}

