<!doctype html>
<title>Search</title>
<h1>Search</h1>

<form method="POST">
    <label>
        E-post<br>
        <input type="email" name="email" value="" required>
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="gender">
        Gender (hunt)
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="born">
        Born (hunt)
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="height">
        Height (hunt)
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="weight">
        Weight (hunt)
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="bmi">
        BMI (hunt)
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="genotyped">
        Genotyped (hunt)
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="training">
        Training (hunt)
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="smoking">
        Smoking (hunt)
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="drinking">
        Drinking (hunt)
    </label>
    <br>
    <label>
        <input type="checkbox" name="cancer" value="gender">
        Gender (cancer)
    </label>
    <br>
    <label>
        <input type="checkbox" name="cancer" value="born">
        Born (cancer)
    </label>
    <br>
    <label>
        <input type="checkbox" name="cancer" value="cancer">
        Cancer (cancer)
    </label>
    <br>
    <label>
        <input type="checkbox" name="cancer" value="lung_cancer">
        Lung cancer (cancer)
    </label>
    <br>
    <label>
        <input type="checkbox" name="cancer" value="bowel_cancer">
        Bowel cancer (cancer)
    </label>
    <br>
    <label>
        <input type="checkbox" name="cancer" value="breast_cancer">
        Breast cancer (cancer)
    </label>
    <br>
    <label>
        <input type="checkbox" name="cancer" value="prostate_cancer">
        Prostate cancer (cancer)
    </label>
    <br>
    <button>Send</button>
</form>
