<!doctype html>
<title>Search</title>
<h1>Search</h1>

<form method="POST">
    <label>
        Username<br>
        <input type="text" name="username" value="test1">
    </label>
    <br>
    And more other fields
    <br>
    <label>
        Properties<br>
    </label>
    <label>
        <input type="checkbox" name="cancer" value="age">
        Age (cancer)
    </label>
    <br>
    <label>
        <input type="checkbox" name="cancer" value="hair">
        Hair (cancer)
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="hungry">
        Hungryness (hunt)
    </label>
    <br>
    <label>
        <input type="checkbox" name="hunt" value="weight">
        Weight (hunt)
    </label>
    <br>
    <button>Send</button>
</form>
